@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#form {
	margin-left: 25vw;
	margin-right: 25vw;
	border: 1px dotted red;
	padding: 25px;
	font-family: 'Open Sans', sans-serif;
}

#designate-link {
	text-decoration: underline;
	color: blue;
}

#designate {
	display: none;
}

.input-error {
	border: 3px solid red;
}

.form-input {
	border: 1px dotted red;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
}

#paypal-button {
	padding: 4px;
	display: inline-block;
	border-radius: 2px;
	background-color: blue;
	color: white;
}