<meta name="viewport" content="width=device-width, initial-scale=1.0">

<form action="/campaigns/demos" method="POST", id="new-demo-form">
	<div>
		<div><label>Recipient Number</label></div>
		<div><input type="text" name="text[number]" id="number-input" /></div>
	</div>
	<div>
		<div><label>Text Content</label></div>
		<div><textarea name="text[body]" maxlength="70"></textarea></div>
	</div>
	<div id="send-wrapper">
		<input type="submit" value="Send" id="demo-send">
	</div>
</form>

<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);
	#new-demo-form {
		max-width: 400px;
		width: 100%;
		font-family: 'Open Sans';
	}
	#new-demo-form > div {
		padding: 15px;
	}
	#new-demo-form #number-input {
		width: 90%;
		margin-left: 5%;
		height: 20px;
		border-radius: 3px;
		border: 1px solid gray;
		margin-top: 5px;
		font-size: 16px;
	} 

	#new-demo-form textarea {
		width: 90%;
		margin-left: 5%;
		height: 100px;
		border-radius: 3px;
		border: 1px solid gray;
		margin-top: 5px;
		font-size: 16px;
	}
	#new-demo-form label {
		margin-left: 5%;
	}
	#send-wrapper {
		text-align: center;
	}
	#demo-send {
		font-size: 20px;
		padding: 5px 10px;
		color: white;
		background-color: #496185;
		border: 1px solid #5c79a5;
		border-radius: 4px;
	}
</style>