
<form action="https://localhost:3000/api/v1/gifts" method="post" id="gift_form">
  <input type="hidden" name="school[id]" value="1">
  <input name="donor[first_name]" type="text">
  <input name="donor[last_name]" type="text">
  <input name="donor[email]" type="email">
  <input name="gift[total]" type="text">
  <input type="submit">
</form>

